
<!DOCTYPE html>
<html lang="en">
<head>

     <title>We Welcome You!!</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/css/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/css/font-awesome.min.css">
     <link rel="stylesheet" href="/css/css/aos.css">
     <link rel="stylesheet" href="/css/css/owl.carousel.min.css">
     <link rel="stylesheet" href="/css/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="/css/css/templatemo-digital-trend.css">

</head>
<body>
     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <span>logo</span>Website Name
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#hero" class="nav-link smoothScroll">Home</a>
                    </li>
                  
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact"  class="nav-link">Contact us</a>
                    </li>
                    {{#if isAuthorised}} 
                    <li class="nav-item">
                      <a href="user/contacts" id="contacts-link" class="nav-link">Contacts</a>
                    </li>
                    <ul>
                       <li>
                         <img src="images/Profile.png" alt="Admin" width="40"><i class="fas fa-angle-down"></i>
                         <div class="dropdown">
                           <button class="dropbtn">{{username}}</button>
                           <div class="dropdown-content">
                             <a href="user/logout">Logout</a>
                           </div>
                         </div>
                       </li>
                    </ul>
                    {{else}}
                    <li class="nav-item">
                      <a href="login" class="nav-link">Login</a>
                    </li>
                    {{/if}} 
                </ul>
                 
            </div>
      </div>
       
    </nav>
    
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center" id="hero">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are here to give you absolute Protection</h1>

                                   {{#if isAuthorised}}
                                   
                                    <a id="location-btn" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Share location</a>
                                   {{else}}
                                    <a href="login" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Log in to Share location</a>
                                   {{/if}}
                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200">For any help +99 080 070 4224</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="images/images/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="Info">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">the best <strong>app for Women Protection</strong> in India</h2>

                              <p class="mb-0" data-aos="fade-up">Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo. 
                              <br><br><strong></strong> Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="images/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     
    


     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="images/images/female-avatar.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Client Testimonials</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.</h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Mary Zoe</strong>

                        <span class="mx-1">/</span>

                        <small>Digital Agency (CEO)</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>

     <!-- contact -->

  <section id="contact">
    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">We make creative <strong>brands</strong> only.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
               
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                hello@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Av. Lúcio Costa - Barra da Tijuca, Rio de Janeiro - RJ, Brazil
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2020 Your Company
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="#">Stories</a></li>
              <li><a href="#">Work with us</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
         
            </ul>
          </div>

        </div>
      </div>
    </footer>
</section>


     <!-- SCRIPTS -->
     <script src="/frontendRoutes/index.js"></script>
     <script src="/js/js/jquery.min.js"></script>
     <script src="/js/js/bootstrap.min.js"></script>
     <script src="/js/js/aos.js"></script>
     <script src="/js/js/owl.carousel.min.js"></script>
     <script src="/js/js/smoothscroll.js"></script>
     <script src="/js/js/custom.js"></script>

</body>
</html>
